@import './fonts.scss';
@import './colors.scss';
@import './breakpoints.scss';
@import './function.scss';

body {
  min-width: 320px;
  font-size: 16px;
  font-family: 'Roboto', $font-family;

  @media (max-width: $xxl) {
    font-size: 15px;
  }

  @media (max-width: $osx) {
    font-size: 14px;
  }

  @media (max-width: $md) {
    font-size: 13px;
  }

  @media (max-width: $sm) {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}

* {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.page-enter-active,
.page-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate(0, -2em);
}

.app-wrapper {
  // background-color: #f7f7f7;
  background-color: #f8f8f8;
  overflow: hidden;

  &--logistics {
    .logo {
      svg {
        fill: $red;
      }
    }
  }
}

.hero {
  position: relative;
  height: 100vh;

  &_container {
    display: flex;
    height: 100%;
    overflow: hidden;

    @media (max-width: $lg) {
      flex-direction: column;
    }
  }

  &_logo {
    position: absolute;
    top: 25%;
    left: 50%;
    max-width: 480px;
    width: 100%;
    z-index: 101;
    opacity: 0;
    animation-name: thirdAction;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
    animation-duration: 0.9s;
    animation-timing-function: ease;

    @media (max-width: $xl) {
      max-width: 400px;
    }

    @media (max-width: $lg) {
      top: 50%;
      max-width: 350px;
    }

    @media (max-width: $sm) {
      max-width: 250px;
    }
  }

  &_link {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-basis: 50%;

    &:first-of-type {
      .hero_bg {
        background-image: url('../../static/hero-trade.jpg');
        background-position: 100% center;
      }

      &:hover {
        .hero_bg {
          filter: grayscale(0%);
        }

        .red-flesh {
          width: 100% !important;
        }
      }
    }

    &:last-of-type {
      .hero_bg {
        background-image: url('../../static/hero-logistics.jpg');
        background-position: 40% center;
      }

      &:hover {
        .hero_bg {
          filter: grayscale(0%);
        }

        .red-flesh {
          width: 100%;
        }
      }
    }
  }

  &_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    transition: filter 0.8s;
    z-index: -1;
  }

  .title-box {
    margin-bottom: vh(160px);

    @media (max-width: $lg) {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &_animation-bg {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-color: $black;
    z-index: 100;
    transform: translateY(100%);

    &:first-of-type {
      left: 0;

      &.secondAction {
        animation-name: secondAction;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.6, 0.05, 0.4, 1);
      }
    }

    &.second {
      right: 0;

      &.secondAction {
        animation-name: secondAction;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.6, 0.05, 0.4, 1);
      }
    }

    &.firstAction {
      animation-name: firstAction;
      animation-duration: 0.9s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.6, 0.05, 0.4, 1);
    }
  }
}

@keyframes firstAction {
  100% {
    transform: translateY(0%);
  }
}

@keyframes secondAction {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes thirdAction {
  0% {
    opacity: 0;
    transform: translate(-50%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.app-header {
  width: 100%;
  height: 100vh;
  min-height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 30px 30px;
    z-index: 5;

    @media (max-width: $md) {
      padding: 20px 20px;
    }

    // .app-header_logo {
    //   @media (max-width: $sm) {
    //     display: none !important;
    //   }
    // }

    &.scrolled {
      @media (max-width: $md) {
        background-color: $white;
      }

      .burger {
        &::after,
        &::before,
        .burger_line {
          background-color: $red;
          @media (max-width: $md) {
            background-color: $black;
          }
        }
      }

      // .app-header_logo {
      //   svg {
      //     fill: $black;
      //   }
      // }
    }

    &.black {
      // background-color: $black !important;
      @media (max-width: $md) {
        background-color: $black;
      }

      .burger {
        &::after,
        &::before,
        .burger_line {
          background-color: $black;
          @media (max-width: $md) {
            background-color: $white;
          }
        }
      }

      // .app-header_logo {
      //   svg {
      //     fill: $white;
      //   }
      // }
    }
  }

  // &_logo {
  //   width: 155px;
  //   margin-left: vw(45px);

  //   @media (max-width: $lg) {
  //     width: 90px;
  //   }

  //   @media (max-width: $md) {
  //     margin-left: 20px;
  //   }

  //   svg {
  //     fill: $white;
  //     transition-duration: 0s;
  //   }
  // }
}

.aubout-us {
  margin-top: vh(-165px);
  position: relative;
  overflow: hidden;
  display: flex;
  z-index: 0;
  justify-content: flex-end;
  z-index: 1;

  @media (max-width: $md) {
    margin-top: vh(-120px);
  }

  &_content {
    width: 61%;
    background-color: $red;
    padding: vh(165px) vw(155px) vh(150px) vw(155px);

    @media (max-width: $md) {
      padding: vh(165px) vw(90px) vh(80px) vw(90px);
    }

    @media (max-width: $sm) {
      width: 100%;
      padding: vh(165px) vw(90px) vh(80px) vw(90px);
    }
  }

  &_title {
    font-size: em(47px);
    font-weight: 400;
    color: $white;

    @media (max-width: $osx) {
      font-size: em(35px);
    }

    @media (max-width: $lg) {
      font-size: em(25px);
    }
  }

  &_text {
    margin-top: vh(60px);
    font-size: em(18px);
    line-height: 1.4;
    color: $white;
  }

  &_label {
    position: absolute;
    font-weight: 900;
    line-height: 1;
    transform: translate(5%, 40%);
    text-transform: uppercase;
    font-size: em(155px);
    color: #c92201;
    bottom: 0;
    right: 0;

    @media (max-width: $md) {
      font-size: em(80px);
    }
  }

  &_scroll-bottom {
    position: absolute;
    top: vh(40px);
    right: vw(40px);
    width: 48px;
    height: 48px;

    @media (max-width: $lg) {
      width: 35px;
      height: 35px;
    }

    @media (max-width: $md) {
      top: vh(30px);
    }

    &:hover {
      svg {
        fill: $black;
      }
    }

    svg {
      fill: $white;
    }
  }
}

.s-products {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &_container {
    display: flex;
    padding-left: vw(180px);

    @media (max-width: $xxl) {
      padding-left: vw(100px);
    }

    @media (max-width: $sm) {
      padding: 0 vw(90px);
      flex-direction: column-reverse;
    }
  }

  &_preview {
    margin-top: vh(-35px);
    width: 55%;
    height: vh(530px);
    z-index: 1;

    @media (max-width: $sm) {
      margin-top: vh(30px);
      width: 100%;
    }
  }

  &_image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &_image-desc {
    display: block;
    margin-top: vh(5px);
    font-size: em(14px);
    text-transform: uppercase;

    @media (max-width: $lg) {
      font-size: em(12px);
    }

    strong {
      color: $red;
    }
  }

  &_sxema {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-100%);
    z-index: 0;
    width: vw(370px);
  }

  &_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: vw(100px);
    margin-bottom: vh(-35px);
    z-index: 1;

    @media (max-width: $sm) {
      margin-bottom: 0;
    }

    h2 {
      font-size: em(64px);
      color: $red;
      font-weight: 900;
      line-height: 1;

      @media (max-width: $xl) {
        font-size: em(50px);
      }

      @media (max-width: $lg) {
        font-size: em(45px);
      }

      @media (max-width: $md) {
        font-size: em(30px);
      }

      @media (max-width: $sm) {
        margin-top: 30px;
        text-align: center;
      }
    }

    ul {
      margin: vh(20px) 0 0 vw(20px);
      padding: 0;
      text-indent: 0;
      list-style: none;
      list-style-position: outside;
    }

    li {
      font-size: em(14px);
      color: $black2;

      @media (max-width: $sm) {
        font-size: em(18px);

        &:first-of-type {
          margin-top: 20px;
        }

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &_items-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    padding: 0 vw(90px);
    margin: vh(170px) auto 0 auto;

    @media (max-width: $lg) {
      margin-top: vh(200px);
    }

    @media (max-width: $sm) {
      margin-top: 70px;
      flex-direction: column;
    }
  }

  &_items-title {
    position: relative;
    display: inline-block;
    width: 100%;

    h3 {
      margin: 0;
      font-size: em(28px);
      font-weight: 400;
      z-index: 1;

      @media (max-width: $sm) {
        // display: block;
        // text-align: center;
      }
    }

    .flesh {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 18%;
      z-index: 0;
      background-color: rgba($black, 0.19);

      @media (max-width: $sm) {
        // display: none;
        width: 10%;
      }
    }
  }

  &_items {
    @media (max-width: $sm) {
      &:not(:last-of-type) {
        margin-bottom: 40px;
      }
    }
    ul {
      margin: vh(25) 0 0 vw(20px);
      padding: 0;
      text-indent: 0;
      list-style: none;
      list-style-position: outside;

      @media (max-width: $sm) {
        margin-top: 25px;
        padding-left: 15px;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // margin-bottom: 30px;
      }
    }

    li {
      &:not(:last-of-type) {
        margin-bottom: vh(10px);

        @media (max-width: $sm) {
          margin-bottom: 15px;
          // padding: 0 10px;
        }
      }
    }

    button {
      border: 0;
      padding: 0;
      background-color: transparent;
      font-size: em(14px);
      color: $black2;
      outline: none !important;
      cursor: pointer;

      @media (max-width: $sm) {
        font-size: 16px;
      }

      &:hover {
        color: $red;
      }
    }
  }
}

.s-whu-us {
  position: relative;
  margin-top: vh(130px);
  padding: 0vh vw(290px) vh(120px) 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $md) {
    padding-right: vw(90px);
  }

  &_decor {
    position: absolute;
    left: 0;
    top: 0;
    width: vw(400px);
    transform: translateY(-70%);
    z-index: 0;

    @media (max-width: $md) {
      display: none;
    }
  }

  &_container {
    position: relative;
    max-width: 1290px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &_content {
    position: relative;
    padding: vh(280px) vw(85px) vh(165px) vw(115px);
    background-color: $white;
    max-width: vw(660px);
    width: 100%;

    @media (max-width: $xxl) {
      padding: vh(250px) vw(50px) vh(100px) vw(50px);
    }

    @media (max-width: $xl) {
      max-width: vw(800px);
    }

    @media (max-width: $md) {
      padding: vh(250px) vw(90px) vh(80px) vw(90px);
      max-width: 55%;
    }

    @media (max-width: $sm) {
      max-width: 70%;
      padding-left: vw(150px);
      padding-right: vw(40px);
    }
  }

  &_breadcrumbs {
    font-size: em(14px);
    text-transform: uppercase;

    @media (max-width: $xl) {
      font-size: em(10px);
    }

    .accent {
      color: $red;
    }
  }

  &_text {
    font-size: em(18px);
    line-height: 1.4;

    @media (max-width: $sm) {
      font-size: em(14px);
    }

    &:first-of-type {
      margin-top: vh(40px);
    }

    &:not(:last-of-type) {
      margin-bottom: vh(25px);
    }
  }

  &_nav {
    position: absolute;
    top: vh(220px);
    left: -210px;
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;

    @media (max-width: $sm) {
      left: -80px;
    }

    li {
      text-align: right;
      &:not(:last-of-type) {
        margin-bottom: 10px;

        @media (max-width: $sm) {
          margin-bottom: 5px;
        }
      }
    }

    button {
      padding: 0;
      padding-bottom: 2px;
      position: relative;
      background-color: transparent;
      border: 0;
      font-size: 14px;
      color: #797676;
      outline: none !important;
      cursor: pointer;

      @media (max-width: $sm) {
        font-size: em(10px);
      }

      &.active {
        color: $black;

        &::before {
          background-color: $black;
        }

        &::after {
          border-color: $black;
        }
      }

      &:hover {
        color: $black;

        &::after {
          border-color: $black;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: -65px;
        position: absolute;
        height: 1px;
        background-color: #797676;
        width: 45px;

        @media (max-width: $sm) {
          display: none;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px dashed #797676;
      }
    }
  }

  &_title {
    position: absolute;
    z-index: 1;
    top: vh(90px);
    right: vw(450px);

    @media (max-width: $xl) {
      top: vh(50px);
    }

    @media (max-width: $xl) {
      padding-left: vw(90px);
    }

    @media (max-width: $sm) {
      top: vh(20px);
    }

    h2 {
      font-size: em(64px);
      font-weight: 900;
      color: $red;

      @media (max-width: $xxl) {
        font-size: em(54px);
      }

      @media (max-width: $xl) {
        font-size: em(44px);
      }

      @media (max-width: $lg) {
        font-size: em(34px);
      }

      @media (max-width: $sm) {
        font-size: em(35px);
      }
    }
  }
}

.s-contacts {
  position: relative;
  padding: 0 vw(290px) vh(110px) vw(280px);
  width: 100%;

  @media (max-width: $lg) {
    padding: 0 vw(90px) vh(110px) vw(90px);
  }

  @media (max-width: $md) {
    padding-bottom: vh(90px);
  }

  &_container {
    position: relative;
    z-index: 1;
    background-color: transparent;
  }

  &_banner {
    display: flex;
    justify-content: flex-end;
    background-color: $red;
    padding: vh(60px) vw(150px) vh(60px) vw(90px);

    @media (max-width: $xxl) {
      padding-right: vw(100px);
    }

    @media (max-width: $osx) {
      padding-right: vw(70px);
    }

    @media (max-width: $md) {
      justify-content: flex-start;
      padding: vh(40px) vw(90px) vh(40px) vw(90px);
    }

    > span {
      position: relative;
      padding-left: vw(110px);

      @media (max-width: $osx) {
        padding-left: vw(70px);
      }

      @media (max-width: $xl) {
        padding-left: vw(50px);
      }

      @media (max-width: $lg) {
        padding-left: vw(80px);
      }

      @media (max-width: $md) {
        padding-left: 0;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 0;
      width: 45px;
      height: 45px;
      fill: $white;
      transform: rotate(90deg) translateX(-50%);

      @media (max-width: $osx) {
        width: 35px;
        height: 35px;
      }

      @media (max-width: $xl) {
        width: 25px;
        height: 25px;
      }

      @media (max-width: $md) {
        display: none;
      }
    }
  }

  &_title {
    font-size: em(28px);
    font-weight: 400;
    color: $white;

    @media (max-width: $osx) {
      font-size: em(24px);
    }

    @media (max-width: $xl) {
      font-size: em(20px);
    }

    @media (max-width: $md) {
      font-size: em(24px);
    }
  }

  &_subtitle {
    font-size: em(14px);
    color: $white;

    @media (max-width: $xl) {
      font-size: em(12px);
    }

    @media (max-width: $md) {
      font-size: em(14px);
    }
  }

  &_form {
    max-width: vw(700px);
    width: 100%;
    margin-top: vh(-125px);
    margin-left: vw(-50px);
    z-index: 2;

    @media (max-width: $md) {
      margin-top: 0;
      margin-left: 0;
      max-width: 100%;
    }
  }

  &_image {
    position: absolute;
    top: vh(130px);
    right: 0;
    max-width: vw(1165px);
    width: 100%;
    height: vh(420px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;

    @media (max-width: $lg) {
      max-width: vw(1500px);
    }

    @media (max-width: $md) {
      display: none;
    }
  }
}

.s-banner {
  padding-top: vh(75px);
  padding-bottom: vh(75px);

  &_container {
    display: flex;
    align-items: flex-end;
    max-width: 1190px;
    width: 100%;
    padding: 0 vw(90px);
    margin: 0 auto;

    @media (max-width: $sm) {
      flex-direction: column;
    }
  }

  &_col {
    flex-basis: 50%;

    @media (max-width: $sm) {
      width: 100%;
    }

    &:last-of-type {
      display: flex;
      justify-content: flex-end;

      @media (max-width: $sm) {
        margin-top: 30px;
        justify-content: flex-start !important;
      }
    }
  }

  &_title {
    font-size: em(28px);
    font-weight: 400;
    margin-bottom: vh(25px);
  }

  &_text {
    font-size: em(14px);
    color: #717171;
    line-height: 1.5;
  }
}
